<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <div class="flex-column justify-space-around">
        <header class="flex-column p-5">
            <nav>
                <a class="nav-font" href="/">Home</a>
                <a class="nav-font" href="/dashboard">Dashboard</a>
                {{#unless logged_in}}        
                <a class="nav-font" href="/login">login</a>
                {{/unless}}
                <a class="nav-font" id = "logout" href="">Logout</a>
            </nav>

            <h2 class="hompage-title">
                <a href="/">Tech Blog</a>
            </h2>
        </header>
        <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
        </main>
    </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>